---
const {text} = Astro.props;
---

<button class="w-fit py-2 px-8 my-2 hover:cursor-pointer text-bitsoc-orange border-2 border-bitsoc-orange rounded-lg hover:bg-bitsoc-orange hover:text-white transition-colors duration-300">
    {text}
</button>